*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 400px;
    background-color:white;
}

header {
    margin:0 auto;
    width: 80%;
    text-align: center;
}

main {
    height: 4000px;
}

.container {
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
}

/* ゲーム画面の基本設定 */
.base_wrapper {
    height: 400px;
    width: 600px;
}

/* 背景を主に扱う */
.chapter_model {
    height: 100%;
    width: 100%;
}

/* キャラクターを扱う */
.screen_model {
    height: 300px;
    width: 100%;
}

/* テキストボックスや選択肢を表示する */
.operation_model{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

/* テキストを表示する */
.text_box {
    height: 90%;
    width: 100%;
    padding: 2% 10%;
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    position: relative;
}

/* 会話している人 */
.text_box h4{
    color: white;
    opacity: 1.0;
}

/* 会話の内容 */
.text_box p{
    color: white;
    opacity: 1.0;
}

/* 会話テキストの次へボタン */
.text_box a{
    color: white;
    opacity: 1.0;
    float: right;
    padding-right: 5px;
    position: absolute;
    bottom:0;
    right:0;
}

/* 画面左上のステージ名 */
.stage_name {
    font-size: 20px;
    padding: 1% 0 0 3%;
    color: white;
}






/* ここまで ゲーム画面の基本設定 */

/* チャプター00の設定 */
.cp_00_wrapper {
    /* display: none; */
    background-image: url(../img/janken_bg.png);
    background-size: cover;

}

.screen00 {
    height: 300px;
    width: 100%;
}


.game_title {
    position: relative;
    font-size: 40px;
    top: 44%;
    left: 24%;
    color: #FF8C00;
    background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.operation00 {
    align-items: center;
    justify-content: center;
}

.start_btn {
    background-color: white;
    padding: 5px 5px;
    border: 1px solid gray;
    display: inline-block;
}

.start_btn:active {
    background-color: yellow;
    color: tomato;
}

/* ここまで  チャプター00の設定 */



/* チャプター01の設定 */
.cp_01_wrapper {
    /* display: none; */
    background-image: url(../img/office_bg.png);
}
.screen01 {

}
/* ここまで  チャプター01の設定 */



/*   チャプター02の設定 */
.cp_02_wrapper {
    /* display: none; */
    background-image: url(../img/office_bg.png);
}
.screen02 {
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10% 10%;

}
/* ここまで  チャプター02の設定 */



/*   チャプター03の設定 */
.cp_03_wrapper {
    /* display: none; */
    background-image: url(../img/office_bg.png);
}
.screen03 h5{
    font-size: ;
}

/* ここまで  チャプター03の設定 */




/*   チャプター01の設定 */
/* ここまで  チャプター01の設定 */
/*   チャプター01の設定 */
/* ここまで  チャプター01の設定 */
/*   チャプター01の設定 */
/* ここまで  チャプター01の設定 */
/*   チャプター01の設定 */
/* ここまで  チャプター01の設定 */


